body {
    text-align: center;
    background-color: #113355;
}
textarea {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 20px;
    font-family: 'lucida grande', 'Tahoma', '宋体';
    word-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    outline: none;
    resize: none;
    background-color: #aaccee;
    line-height: 1.5;
}

input {
    padding: 10px;
    font-size: 40px;
}

.show {
    border-radius: 5px;
    color: #ddd;
    height: 50%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    overflow-y: auto;
    overflow-x: hidden;
}

.showlist {
    color: #ddd;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    overflow-y: auto;
    overflow-x: hidden;
}
.input {
    height: 80px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.sentarea {
    background-color: #357;
    margin-bottom: 10px;
    border-radius: 5px;
}
.sentarea_sp {
    background-color: #375;
    margin-bottom: 10px;
    border-radius: 5px;
}
.sentence {
    font-family: 'lucida grande', 'Tahoma', '宋体';
    padding: 10px 0px 0px 0px;
    margin-left: 10px;
    padding-top: 10px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}
.date {
    font-family: 'lucida grande', 'Tahoma', '宋体';
    color: #abc;
    padding: 0px 10px 5px 0px;
    text-align: right;
    font-size: 5px;
}
.mv-del {
    -webkit-transition:opacity 500ms ease-in-out;
    opacity: 0;
    position: absolute;
    background:transparent url(../img/del.png);
    width:16px;
    height:16px;
    cursor:default;
    border:none;
}

.mv-del:hover {
    background:transparent url(../img/del_hover.png);
}

.sentarea:hover .sentarea_sp:hover .mv-del {
    -webkit-transition-delay: 500ms;
    opacity:1;
    background-color: #fff;
}
